.panel {
    overflow: auto;
   border: 6px solid rgba(28,110,164,0.36);

    -webkit-box-shadow: 3px 3px 9px -1px rgba(0,0,0,0.83);
    box-shadow: 3px 3px 9px -1px rgba(0,0,0,0.83);
  }
.accountBalace {
    font-family: "Georgia", serif;
    text-align: center;
    font-size: 55px;
    color:#1676f3;

    text-shadow: rgba(28,110,164,0.5) 2px 2px 2px;
}
.money {
    font-family: "Georgia", serif;
    text-align: center;
    font-size: 75px;
    color: #1676f3;

    text-shadow: rgba(28,110,164,0.5) 2px 2px 2px;
}
.negativeMoney {
    font-family: "Georgia", serif;
    text-align: center;
    font-size: 75px;
    color: #AF2222;

    text-shadow: rgba(28,110,164,0.5) 2px 2px 2px;
}
.userinfo {
    font-family: "Georgia", serif;
    text-align: left;
    font-size: 45px;
    color: #1676f3;

    text-shadow: rgba(28,110,164,0.5) 2px 2px 2px;
}

 .text {
      font-family: Georgia, serif;
      font-size: 39px;
      letter-spacing: 2px;
      word-spacing: 2px;
      color: #000000;
      font-weight: 700;
      text-decoration: line-through rgb(68, 68, 68);
      font-style: normal;
      font-variant: small-caps;
      text-transform: none;
      }